#kof {
    width: 1280px;
    height: 720px;

    background-image: url("/KOF/static/images/background/0.gif");
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: top;
    position: absolute;
}

#kof > .kof-head {
    width: 100%;
    height:80px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

#kof > .kof-head > .kof-head-timer {
    width: 60px;
    height: 60px;
    background-color: yellow;
    border: 5px solid white;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 55px;
}

#kof > .kof-head > .kof-head-hp-0 {
    width: calc(50% - 50px);
    height: 40px;
    border: 5px solid white;
    border-right: none;
    box-sizing: border-box;
    margin-left: 20px;
}

#kof > .kof-head > .kof-head-hp-1 {
    width: calc(50% - 50px);
    height: 40px;
    border: 5px solid white;
    border-left: none;
    box-sizing: border-box;
}

#kof > .kof-head > .kof-head-hp-0 > div {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    float: right;
}

#kof > .kof-head > .kof-head-hp-1 > div {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}